**/LICENSE
**/README
readme.*
README.*
**/docker-compose.yml
**/docker-compose.yaml
**/docker-compose.yml.*
**/docker-compose.yaml.*
**/docker-compose.*.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml.*
**/docker-compose.*.yaml.*
**/Dockerfile
**/.docker
**/.dockerignore
**/.editorconfig
**/.git
**/.gitignore
**/.gitmodules
**/.github
**/.gitlab-ci.*
**/.idea
**/.megaignore
**/.vim*
**/.vscode*
